[pgdg{{ postgres_short_version }}]
name=PostgreSQL {{ postgres_version }} $releasever - $basearch
baseurl={{ pgdg_base_url }}/pub/repos/yum/{{ postgres_version }}/redhat/rhel-$releasever-$basearch
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG-{{ postgres_short_version }}

[pgdg{{ postgres_short_version }}-source]
name=PostgreSQL {{ postgres_version }} $releasever - $basearch - Source
failovermethod=priority
baseurl={{ pgdg_base_url }}/pub/repos/yum/srpms/{{ postgres_version }}/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG-{{ postgres_short_version }}
